.bilder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px; /* Sve ćelije će imati istu visinu */
    gap: 5px;
}


    img {
        width: 100%; 
        height: 100%; /* Ispunjava visinu ćelije */
        object-fit: cover; /* Smanjuje ili povećava sliku da ispuni ćeliju */
    }
    
    
    
    

