h1,h2 {
    text-align: center;
}
p{
    text-align: auto;
}
video {
 width: auto ;
}
table {
    width: 100%;
    border: 1px solid black;
}
td, th {
    text-align: left;
}
.copyright {
    text-align: center;
}
table ,th, td {
    border: 1px solid black;
}
th {
    background-color:lightgray;
}
.link-gap {
    margin-right: 10px;
}